<div class="d-flex justify-content-between w-100 my-3 px-3">
    <h1>All</h1>
</div>
<div class="d-flex justify-content-between mx-3">
    <div>{{this.tasksCompleted.length}} Completed</div>
    <button class="btn text-primary"(click)="toggleCompleted()">{{this.showCompleted?'Hide completed':'Show completed'}}</button>
</div>
<div class="list-group-flush overflow-auto h-100" id="taskList">
    <app-task-list *ngFor='let task of this.tasks' [task]='task' class="list-group-item"></app-task-list>
</div>