:host{
    display: flex;
    align-items: center;
}

:host>input{
    width: fit-content;
    margin-right: 10px;
}

p,h6{
    padding: 0;
    margin: 0;
}

:host img{
    opacity: 0;
}

:host:hover img{
    opacity: 1;
}